{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ page_title }}{%endblock %}

{% block content %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-start">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page_num in page_obj.paginator.page_range %}
        <li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
          <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
      {% endfor %}

      {% if page_obj.has_next  %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

  <div style="height: 700px; overflow: auto;">
    <table class="table table-sm table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tên</th>
          <th scope="col">Số điện thoại</th>
          <th scope="col">Địa chỉ</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody>
        {% if users  %}
          {% for staff in users  %}
            <tr id="{{ staff.pk }}">
              <th scope="row">{{ page_obj.start_index|add:forloop.counter0 }}</th>
              <td>{{ staff.name }}</td>
              <td>{{ staff.phone_number }}</td>
              <td>{{ staff.address }}</td>
              <td>{{ staff.email }}</td>
            </tr>
          {% endfor %}
        {% endif %}
      </tbody>
    </table>
  </div>

{% endblock content %}
